* {
	/*background-color: #dd5e89;
	background: linear-gradient(#dd5e89, #f7bb97);*/
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	font-family: 'Montserrat', sans-serif;
	display: grid;
	justify-content: center;
	align-items: center;
	
}

*.dark {
	background: linear-gradient(#16222a, #3a6073);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


/* Navbar */
.navbar {
	backface-visibility: hidden;
}


.navbar-dark .navbar-nav { font-size: 15px; color: #ffffff; font-weight: 600; }

.navbar-dark .navbar-nav .nav-link { color: #ffffff; border: 0; }

.navbar-dark .navbar-nav .nav-link:focus {  outline: 1; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }


/* Toggle button */
.toggleClass {
	position: absolute;
	top: 120px;
	right: 150px;
	width: 20px;
	margin: 2px;
	height: 20px;
	font-size: 18px;
	border-radius: 50%;
	background: #091921;
    color: #091921;
	cursor: pointer;

	align-items: center;
}

.toggleClass:before {
	position: absolute;
	content: 'Dark Mode';
	white-space: nowrap;
	left: 25px;
}

body.dark .toggleClass {
	background: #d1dae3;
	color: #d1dae3;
    content: 'Light Mode';
}

body.dark .toggleClass:before {
	content: 'Light Mode';
	white-space: nowrap;
}

body {
	overflow-x: hidden;
}

