<!DOCTYPE html>
<html lang="en">

    <head>

		<!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>rhythMind</title>

        <!-- Google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		
		<!-- Font Awesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- CSS -->
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/media-queries.css">

    </head>


	<body>


		<!-- Navigation bar -->
		<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg" style="background:#346d7e">
		    <div class="container">
		        <a class="navbar-brand" href="#">
		        	<img src="images/navbar_logo.png" width="160" background= "white">
		        </a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarNav">
		            <ul class="navbar-nav ml-auto">
		                <li class="nav-item">
		                    <a class="nav-link scroll-link" href="#how">FIND MY TUNES</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link scroll-link" href="#how">BLOGS</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link scroll-link" href="#how">MEDITATION</a>
		                </li>
		                <li class="nav-item">
		        			<a class="nav-link scroll-link" href="#how">SLEEP</a>
		      		  	</li>
		                <li class="nav-item">
		                    <a class="nav-link scroll-link" href="#how">LISTENING ROOM</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>

		<!-- Top Content -->
		<div class="container" id="top-content-id">
			<div class="row">
				<img class="mt-0 topbulb-img img-fluid wow fadeInLeftBig float-left" src="images/topbulb.png" width="35%" margin-top="0" padding-top="0" z-index="-1">
                	<img class="logo-img wow fadeInRightBig float-right" src="images/logo.png" align="right">
                    <div class="col-md-8 offset-md-2 text-top">
                    	
                    	
                        <h1 class="wow top-head fadeInLeftBig">What is rhythMind ??</h1>
                        <div class="description wow fadeInLeftBig">
                        	<div class="col-md-8 offset-md-2 top-text ">
	                        	<p>
	                         	26ideas is focused on building ideas from the basics and bringing it to life. We Ideate and we Build & Scale an idea with Founders as Co-founders.
	                        	</p>
                        	</div>
                        </div>            
                    </div>
            </div>
		</div>

		<!-- How We Work -->
        <div id="how" class="how-container section-container">
        	<div class="container">
        		<div class="row">
        			<div class="col-12 col-md-6 col-lg-6 how-box wow fadeInLeftBig">
        				<div class="how-box-img">
        					<img class="img-fluid col-5 col-md-8 col-lg-6" src="images/howbulb.png" alt="how">
        				</div>
        			</div>
        			<div class="col-12 col-md-6 col-lg-6 how-us-box wow fadeInLeft">
	                    <div class="how-box-text float-right">
	                    	<h2><strong>Meditation and Sleep</strong></h2>
	                    	<br>
	                    	<p class="medium-paragraph">
	                    		26ideas works with founders to ideate, build and scale internet and technology companies. We provide deep operational support to entrepreneurs and help them build market-leading companies.
	                    	</p>
	                    	<p>
	                    		<strong>01.</strong> We Build ideas from ground-up.<br>
								<strong>02.</strong> We Partner with ambitious founders as co-founders.<br>
								<strong>03.</strong> We Ideate whose/what problems can be solved by Tech.<br>
								<strong>04.</strong> We Create lovable product in-house.<br>
								<strong>05.</strong> We Provide a ready ecosystem and funding to get a product market ﬁt ASAP.<br>
	                    	</p>
	                    </div>
	                </div>
        		</div> 
        	</div>
        </div>

        <!-- Why And What -->
        <div class="why-container section-container">
        	<div class="container">
        		<div class="row">
        			<div class="col-12 col-md-6 col-lg-5 wow fadeInLeftBig">
        				<div class="why-box-img">
        					<img class="why-box-img img-fluid d-none d-sm-none d-md-inline d-lg-inline col-1 col-md-9 col-lg-6 float-left" src="images/what.png" alt="what">
        				</div>
        				<div class="why-sm-box-img">
        					<img id="why-sm" class="why-sm-box-img img-fluid d-block d-sm-block d-md-none col-12 col-md-1 col-lg-1" src="images/whatsmall.png" alt="what">
        				</div>
        			</div>
        			<div class="col-10 col-md-6 col-lg-6 why-box float-left wow fadeInRight">
	                    <div class="why-box-text ">
	                    	<h2><strong>Why Us?</strong></h2>
	                    	<p class="medium-paragraph">
	                    		<strong>Get access and experience of co-founding along with industry veterans.</strong>
	                    		<br>
	                    		26ideas gives the ecosystem for doing exactly the same which substantially increases the success rate of your idea.
	                    	</p>
	                    	<br>
	                    	<h2><strong>What we do</strong></h2>
	        				<p>
	        					26ideas builds internal and external ideas grounds-up by working with co-founders as their “third co-founder” and is a part of every step.
	        					<ul>
	        						<li>Opportunity Assessment</li>
	        						<li>Team Building</li>
	        						<li>Business Models</li>
	        						<li>Tech & Product Development</li>
	        						<li>Go-to Market</li>
	        						<li>Product Market Fit</li>
	        						<li>Planning & Metrics</li>
	        						<li>Financial Modelling</li>
	        						<li>Fundraising</li>
	        					</ul>
	        				</p>
	                    </div>
	                </div>
        		</div>
        	</div>
        </div>
        
        <!-- Testimonials -->
		<!-- <h2 style="text-align: left; margin: 2%;"><strong>Blogs</strong></h2> -->
		<div class="categories-container section-container">
	    	<div class="container">
	    		<h1 class="container-h1 wow fadeInLeft">Blogs</h1>
	    		<div class="row">
	    			<div class="categories-individual text-center d-md-inline align-items-center col-sm-4 col-md-3 wow fadeInLeftBig">
	    				<p class="card-title">Co-founder CTO for an Ed-tech company</p>
	    				<a href="#build" class="btn btn-primary">Apply Below</a>
	    			</div>
	    			<div class="categories-individual text-center align-items-center col-sm-4 col-md-3 wow fadeInLeftBig">
	    				<p class="card-title">Co-founder CTO for a SaaS company</p>
	    				<a href="#build" class="btn btn-primary">Apply Below</a>
	    			</div>
	    			<div class="categories-individual text-center align-items-center col-sm-4 col-md-3 wow fadeInLeftBig">
	    				<p class="card-title">Co-founder Sales for a SaaS company</p>
	    				<a href="#build" class="btn btn-primary">Apply Below</a>
	    			</div>
	    		</div>
	    	</div>	    	
	    </div>

		  	<!-- Bottom Image -->
		  	<div class="container">
		  		<div class="row">
		  			<img class="bottom-img col-10 col-md-4 col-lg-5 wow fadeInLeft" src="images/cup.png">
		  		</div>
		  	</div>

        <!-- Footer -->
        <footer>
	        <div class="container">
	        	<div class="row">
                    <div class="col-md-5 footer-left">
                    	<p>
                    	 Made with <i class="fas fa-heart"></i> by rhythMind
                    	</p>
                    </div>
                    
                    <div class="col-md-6 offset-md-1 footer-right">
						<a href="https://www.linkedin.com/company/26ideas"><i class="fab fa-github"></i></a>
						<a href="mailto:swatilekha.roy4@gmail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
                <div class="row">
                	<div class="col footer-bottom">
		           		<a class="scroll-link" href="#top-content-id"><i class="fas fa-chevron-up"></i></a>
		           	</div>
                </div>
	        </div>
        </footer>

        <!-- Javascript files -->
        <!--<script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/jquery-migrate-3.0.0.min.js"></script>
		<script src="js/jquery.backstretch.min.js"></script>-->
		<script type="text/javascript" src="js/scripts.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>


        <script>
        	/*Wow*/

		    new WOW().init();

        </script>

        <!--<script src="js/retina-1.1.0.min.js"></script>
        <script src="js/waypoints.min.js"></script>-->



        <!-- Bootstrap Javascript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>

</html>