body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    overflow-x: hidden;
}

html{
	scroll-behavior: smooth;
}

strong { font-weight: 600; }

a, a:hover, a:focus { color:#346d7e; text-decoration: none; transition: all .3s; }

h1, h2 {
	margin-top: 10px;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
    font-weight: 800;
    color:#346d7e;
    line-height: 50px;
}

h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
    font-weight: 300;
    color: #346d7e;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}
.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #ccc;
}


/* Navbar */

.navbar {
	background:#346d7e;
	backface-visibility: hidden;
}
.navbar.navbar-no-bg {background: #346d7e;}

.navbar-dark .navbar-nav { font-size: 15px; color: #ffffff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #ffffff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #dfe9ec; }
.navbar-dark .navbar-nav .nav-link:focus { color: #dfe9ec; outline: 1; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

/* Top Content */

.logo-img {
	margin-top: 14%;
	margin-left: 15%;

	height: 300px;
}

.topbulb-img {
	padding-top: 45px;
}

@media screen and (max-width: 420px)
{
	.topbulb-img {
		margin:0 auto;
		margin-top: 80px;
	}

	.logo-img {
		margin-left:5%;
	}
}

@media screen and (max-width: 550px)
{
	.top-head {
		margin-top: 30%;
	}
}

@media screen and (max-width: 768px)
{
	.logo-img {
		height: 250px;
		padding-top: 40px;
	}
}

@media screen and (max-width: 1000px)
{
	.topbulb-img {
		padding-top: 65px;
	}
}

/*How We Work*/

.how-container {
	margin: 2%;
	padding: 7%;
	background-color:#dfe9ec;
	transform: skew(0deg, -5deg);
	margin-top: 4%;
	border-radius: 2%;
}

.how-box-text {
	text-align: left;
	color: #dfe9ec;
	font-weight: 400;
	font-size: 1rem;
	transform: skew(0, 5deg);
}

.how-box-img {
	margin-left: 2%;
	transform: skew(0, 5deg);
}

/* Why And What */

.why-box-text {
	margin-top: 5%;
	text-align: left;
}

.why-box-img {
	margin-top: 2%;
}

@media screen and (max-width: 600px) 
{
	#why-sm {
		transform: skew(0deg, -4deg);
	}

	.why-box-text {
		margin-top: 7%;
	}
}



/* Testimonials */
/* 
.testimonial-list .testimonial-text {
	margin-top: 5%;
	opacity: 0.8;
	margin-bottom: 8%;
	margin-left: 0px;
	margin-right: 0px;
}

.testimonial-list .nav-tabs {
	margin-top: 45px;
    border: 0;
    justify-content: center;
}

.testimonial-list .nav-tabs li {
	margin-left: 10px;
    margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    padding: 0;
    border: 2px solid black;
    border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus {
	background: #000000;
	background: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus {
	background: #ffffff;
	border: 0;
}

.testimonial-text {
	color: #000000;
	font-family: 'Indie Flower', cursive;
}

.testimonials-section {
	background-color: #FFCF00;
	margin: 2%;
	border-radius: 30px;
	font-size: 1.2rem;
} */


/* Categories */
/* 
.categories-individual {
	display: inline;
	background-color:#dfe9ec;
	border-radius: 10px;
	width: 330px;
	height: 320px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 3%;
	align-items: center;
}

.card-title {
	text-align: center;
	padding-top: 20%;
	color: #000000;
	font-weight: 600;
	align-items: center;
}

.container-h1 {
	text-align: left;
	margin-top: 10%;
}

.btn-primary {
	margin-top: 70px;
	background-color: #345CAA;
	border-color: #AEC6CF;
	border-radius: 20px;
}

.btn-primary:hover {
	background-color: #ffffff;
	color: #345CAA;
}

@media screen and (max-width: 450px)
{
	.categories-individual {
		align-items: center;
		height: 220px;
		margin-left: 18%;
		border-radius: 50%;
	}

	.btn-primary {
		margin-top: 40px;
	}
} */


/***** Portfolio *****/
 
.portfolio-box {
    padding-top: 30px;
    text-align: left;
}
 
.portfolio-box-image {
    overflow: hidden;
    border-radius: 4px;
}
 
.portfolio-box-image img {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
}
 
.portfolio-box-image:hover img {
    -o-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
 
.portfolio-box h3 {
    margin-top: 30px;
}
.portfolio-box h3 a { color: #555; }
.portfolio-box h3 a:hover, 
.portfolio-box h3 a:focus { color: #9b59b6; }
 
.portfolio-box h3 i {
    padding-left: 10px;
    color: #ccc;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }
 
.portfolio-box-date {
    padding-bottom: 10px;
    font-size: 14px;
    color: #aaa;
    text-transform: uppercase;
}
 
.portfolio-box-date i {
    padding-right: 5px;
    color: #ddd;
}
 
.portfolio-container .section-bottom-button {
    padding-top: 40px;
}




/* Let's build together */

.connect {
	font-size: 1.2rem;
}

.build-box-text {
	text-align: left;
}

@media screen and (min-width: 740px)
{
	.build-box-text {
		margin-top: 50px;
	}
}

@media screen and (min-width: 760px)
{
	.build-box-img {
		margin-top: 5%;
	}
}


/* Bottom image */
.bottom-img {
	margin-top: 50px;
	align-items: center;
	width: 10%;
	margin:0 auto;
}


/* Footer */


footer {
	margin-top: 70px;
	padding: 40px 0 0 0;
	background:#346d7e;
	color: #ffffff;
	text-align: left;
}

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #ffffff;
}
.footer-right a:hover, .footer-right a:focus { color:#dfe9ec; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #ffffff;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color:#dfe9ec; }

@media only screen and (max-width: 767px​){ .responsive.html_header_sidebar #top { position: relative; } }

body, html {
    overflow-x: hidden; }